absl-py
accelerate
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
appdirs
asttokens
async-timeout
attrs
audioread
av
beautifulsoup4
bitarray
blis
braceexpand
brotli
build
cachecontrol
cachetools
catalogue
certifi
cffi
charset-normalizer
cleo
click
cloudpathlib
cmake
colorama
contourpy
crashtest
cryptography
cycler
cymem
cython
decorator
diffusers
distlib
docker-pycreds
docopt
dulwich
einops
einx
exceptiongroup
executing
fairscale

fastjsonschema
filelock
fire
fonttools
frozendict
frozenlist
fsspec
ftfy
future
gdown
gitdb
gitpython
google-auth
google-auth-oauthlib
grpcio
h5py
huggingface-hub
hydra-core
idna
imageio
importlib-metadata
installer
ipdb
ipython
jaraco-classes
jedi
jeepney
jinja2
joblib
julius
keyring
kiwisolver
kornia
laion-clap
lazy-loader
librosa
lightning
lightning-utilities
lit
llvmlite
lmdb
lxml
marisa-trie
markdown
markupsafe
matplotlib
matplotlib-inline
memory-profiler
more-itertools
mpmath
msgpack
multidict
murmurhash
mutagen
networkx
num2words
numba
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-cufft-cu12
nvidia-curand-cu11
nvidia-curand-cu12
nvidia-cusolver-cu11
nvidia-cusolver-cu12
nvidia-cusparse-cu11
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu11
nvidia-nvtx-cu12
oauthlib
omegaconf
packaging
pandas
parso
pathtools
pexpect
pillow
pip
pkginfo
platformdirs
poetry
poetry-core
poetry-plugin-export
pooch
portalocker
positional-encodings
progressbar
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pydantic-core
pydeprecate
pydub
pygments
pyparsing
pyproject-hooks
pysocks
python-dateutil
pytorch-lightning
pytz
pyyaml
rapidfuzz
regex
requests
requests-oauthlib
requests-toolbelt
resampy
rsa
ruamel-yaml
ruamel-yaml-clib
sacrebleu
safetensors
scikit-image
scikit-learn
scipy
secretstorage
sentry-sdk
setproctitle
setuptools
shellingham
shortuuid
six
smart-open
smmap
soundfile
soupsieve
spacy-legacy
spacy-loggers
srsly
ssr-eval
stack-data
sympy
tabulate
taming-transformers-rom1504
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tifffile
timm
tokenizers
tomli
tomlkit
# torch
# torchaudio
torchdiffeq
torchlibrosa
torchmetrics
# torchvision
tqdm
traitlets
transformers
triton
trove-classifiers
typer
typing-extensions
tzdata
urllib3
vector-quantize-pytorch
virtualenv
wandb
wasabi
wave
wcwidth
webdataset
websockets
werkzeug
wget
wheel
xformers
yarl
yt-dlp
zipp
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
pytorch_lightning==2.1.3
torchlibrosa==0.0.9
librosa==0.9.2
ftfy==6.1.1
braceexpand
xformers==0.0.26.post1
